.justify {
  text-align: justify;
}

::ng-deep .ngx-spinner-overlay {
  background-color: transparent !important;
  opacity: 0.5 !important;
}

.container {
  position: relative;
  min-height: 70px;
}
