::ng-deep .fr-table table {
  /*Add your custom css property value.*/
  border-spacing: 0rem 1rem;
}
.logo-municipality {
  max-width: 40px;
  max-height: 40px;
}

td:nth-child(1) {
  width: 40%;
}
.afficherPlusDesktop {
  text-align: center;
  background-color: white;
}

.hide-bg {
  filter: contrast(1);
  mix-blend-mode: multiply;
}

.offlineMunicipality {
  box-shadow: inset 3px 0 0 0 var(--border-action-high-blue-france);
}

.default-logo {
  width: 24px;
  height: 24px;
}

.slot-municipality {
  position: relative;
  width: 24%;
}

.phone-number {
  width: 26%;
  text-align: center;
  word-wrap: break-word;
}
.mobil-phone-number {
  width: 30%;
  word-wrap: break-word;
}

.break {
  width: 30%;
  word-wrap: break-word;
}
