
<div class="fr-container--fluid">
  <div class="fr-grid-row">
    <div class="fr-col">
      <div class="fr-table fr-table--layout-fixed fr-table-border-spacing fr-mb-4v fr-table--no-caption" *ngIf="slotsPerTabs">
        <div *ngIf="sortBy === 'Date'; else Distance">
          <table summary="Résultats de votre recherche">
            <thead hidden="hidden">
            <tr>
              <th>Nom de la mairie</th>
              <th class="rdv-text-center">LIEU</th>
              <th class="rdv-text-center">Distance</th>
              <th class="rdv-text-center">Heure du RDV</th>
              <th>Réserver</th>
            </tr>
            </thead>
            <col width="80px" />
            <tbody>
            <ng-container *ngIf="slotsPerTabs">
              <tr *ngFor="let slot of getTenSlots(slotsPerTabs); let index = index">
                <td [ngClass]="{'offlineMunicipality': slot?.hour }" *ngIf="slot.logo; else elseBlock">
                  <img
                    class="logo-municipality hide-bg"
                    [attr.src]="slot.logo"
                    alt=""
                    title="Logo de {{slot.municipality}}"
                    srcset=""
                    onerror="this.onerror=null; this.src='/assets/icon-bank-fill.png'; this.classList.add('default-logo')"
                  />
                </td>
                <ng-template #elseBlock
                ><td [ngClass]="{'offlineMunicipality': slot?.hour }">
                  <img
                    class="default-logo"
                    src='/assets/icon-bank-fill.png'
                    alt=""
                    title="Logo de {{slot.municipality}}"
                    srcset=""
                  />
                </td
                ></ng-template>
                <td class="slot-municipality">{{ slot?.municipality }}</td>
                <td style="width:14%">{{ slot?.distance?.toLocaleString()?.replace('.', ',') + ' km' }}</td>
                <td class="rdv-text-center"  *ngIf="slot?.hour; else phoneNumber">{{ __getLocaleTimeFormat__(slot?.hour) }}</td>
                <ng-template #phoneNumber><td class="center phone-number"><span *ngIf="slot?.phone_number" class="fr-icon-phone-fill" aria-hidden="true"></span> {{ slot?.phone_number }}</td></ng-template>

                <td>
                  <button
                    *ngIf="slot?.url; else website"
                    class="fr-btn rdv-float-right"
                    data-fr-opened="false"
                    target="_blank"
                    aria-controls="fr-modal-2"
                    title="{{getTitle(tab,  __getLocaleTimeFormat__(slot?.hour),slot?.municipality,false  )}}"
                    (click)="setModalUrl(slot?.url)"
                  >
                    Réserver
                  </button>

                  <ng-template #website>
                    <button
                      class="fr-btn rdv-float-right"
                      data-fr-opened="false"
                      target="_blank"
                      aria-controls="fr-modal-2"
                      title="{{getOfflineMeetingPointTitle(slot?.municipality)}}"
                      (click)="setModalUrl2(slot.municipality, slot.website)"
                    >
                      Site internet
                    </button>
                  </ng-template>
                </td>
              </tr>
              <tr *ngIf="slotsPerTabs.length>limiter">
                <td colspan="5" class="afficherPlusDesktop">
                  <button class="fr-btn" title="Afficher plus de résultats" (click) = "onLoadMore()"> Afficher plus de résultats
                    <span class="fr-icon-arrow-down-s-line" aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            </ng-container>

            </tbody>
          </table>
        </div>
      </div>

      <ng-template #Distance>
        <div *ngIf="slotsPerTabs && slotsPerTabs.length > 0; else emptySlotsMessage">
          <table>
            <thead hidden="hidden">
            <tr>
              <th>Logo de la mairie</th>
              <th>Nom de la mairie</th>
              <th >Distance</th>
              <th class="rdv-text-center">Date du RDV</th>
              <th class="rdv-text-center">Heure du RDV</th>
              <th>Réserver</th>
            </tr>
            </thead>
            <col width="80px" />
            <tbody>
            <tr *ngFor="let slot of getTenSlots(slotsPerTabs); let index = index">
              <td [ngClass]="{'offlineMunicipality': slot?.hour }" *ngIf="slot.logo; else elseBlock">
                <img
                  class="logo-municipality hide-bg"
                  [attr.src]="slot.logo"
                  alt=""
                  title="Logo de {{slot.municipality}}"
                  srcset=""
                  onerror="this.onerror=null; this.src='/assets/icon-bank-fill.png'; this.classList.add('default-logo')"
                />
              </td>
              <ng-template #elseBlock
              ><td [ngClass]="{'offlineMunicipality': slot?.hour }">
                <img
                  class="default-logo hide-bg"
                  src='/assets/icon-bank-fill.png'
                  alt=""
                  title="Logo de {{slot.municipality}}"
                  srcset=""
                />
              </td
              ></ng-template>
              <td class="slot-municipality">{{ slot?.municipality }}</td>
              <td class="rdv-width15">{{ slot?.distance?.toLocaleString()?.replace('.', ',') + ' km' }}</td>

              <ng-container *ngIf="slot.hour;else phoneNumber">
                <td class="center rdv-position-relative rdv-width15" >{{ toDate(slot.hour) | date: 'ccc d MMM ' }}</td>
                <td class="center">{{ __getLocaleTimeFormat__(slot?.hour) }}</td>
              </ng-container>

              <ng-template #phoneNumber>
                <td colspan="2" class="rdv-word-break rdv-width30"><span *ngIf="slot?.phone_number" class="fr-icon-phone-fill" aria-hidden="true"></span> {{ slot?.phone_number }}</td>
              </ng-template>


              <td class="rdv-width24">
                <button
                  *ngIf="slot?.url; else website"
                  class="fr-btn rdv-float-right"
                  data-fr-opened="false"
                  target="_blank"
                  aria-controls="fr-modal-2"
                  title="{{getTitle(slot.hour, __getLocaleTimeFormat__(slot?.hour),slot?.municipality,false  )}}"
                  (click)="setModalUrl(slot?.url)"
                >
                  Réserver
                </button>
                <ng-template #website>
                  <button
                    class="fr-btn rdv-float-right"
                    data-fr-opened="false"
                    target="_blank"
                    aria-controls="fr-modal-2"
                    title="{{getOfflineMeetingPointTitle(slot?.municipality)}}"
                    (click)="setModalUrl2(slot.municipality, slot.website)"
                  >
                    Site internet
                  </button>
                </ng-template>
              </td>
            </tr>
            <tr *ngIf="slotsPerTabs.length>limiter">
              <td colspan="6" class="afficherPlusDesktop">
                <button class="fr-btn" title="Afficher plus de résultats"  (click) = "onLoadMore()"> Afficher plus de résultats
                  <span class="fr-icon-arrow-down-s-line" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <ng-template #emptySlotsMessage>
          <div *ngIf="slotsPerTabs">Pas de créneaux dans cet intervalle de distance</div>
        </ng-template>
      </ng-template>

    </div>
  </div>
</div>
