<div class="fr-container main-body">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col fr-col-md-11 fr-col-lg-10 fr-col-xl-11">
      <div class="fr-mt-0">
        <rdv-breadcrumb [items]="breadcrumbs" ></rdv-breadcrumb>
      </div>
    </div>

  </div>
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col fr-col-md-11 fr-col-lg-10 fr-col-xl-11">
      <h1 class="rdv-inline-block-display fr-h6 custom-margin rdv-justify" id="contenu">La déterritorialisation des démarches d'état civil</h1>

      <p class="fr-mb-2w rdv-justify">
        Le dépôt des demandes de passeports biométriques et de cartes nationales d'identité (CNI) est régi par le principe de
        déterritorialisation, qui permet aux citoyens de déposer leur dossier de demande auprès de n'importe quel service compétent (mairie,
        consulat), quel que soit leur lieu de résidence.
      </p>
      <p class="fr-mb-2w rdv-justify">
        Ce principe soutient l'accès des usagers aux services d’état civil, conformément aux principes d'égalité, de proximité et d'efficacité du
        service public.
      </p>
      <p class="fr-mb-2w rdv-justify">
        Ainsi, si vous souhaitez demander un passeport ou une carte nationale d'identité, vous pouvez vous rendre dans n'importe quelle mairie
        équipée quel que soit votre lieu de résidence, sans qu’une justification ne vous soit demandée et sans qu’il n’y ait d’impact sur le
        traitement de votre demande (délai, conditions, etc.).
      </p>
      <p class="fr-mb-2w rdv-justify">Il est cependant obligatoire d’effectuer le retrait du titre d’identité au même endroit que la demande initiale.</p>
      <p>
        <b>Références juridiques :</b>
        <br>
        Décret n°2005-1726 du 30 décembre 2005 relatif aux passeports
        <br> Décret n° 2016‑1460 du 28 octobre 2016 autorisant la création d’un traitement
        de données à caractère personnel relatif aux passeports et aux cartes nationales d’identité
      </p>
    </div>
  </div>
</div>
