<header role="banner" class="fr-header">
<div class="fr-header__body">
  <div class="fr-container">
    <div class="fr-header__body-row">
      <div class="fr-header__brand">
        <div class="fr-header__brand-top">
          <div class="fr-header__logo">
            <p class="fr-logo">
              République
              <br>Française
            </p>
          </div>
          <div class="fr-header__navbar">
            <div class="fr-header__tools">
              <button class="fr-btn--menu fr-btn rdv-float-right" data-fr-opened="false" aria-controls="modal-491" aria-haspopup="menu" id="button-492" title="Menu">
                Menu
              </button>
              <br>
              <br>
            </div>
          </div>
        </div>
        <div class="fr-header__service">
          <a href="/" title="Accueil - {{ appName }}" >
            <p class="fr-header__service-title"> {{ appName }}</p>
          </a>
          <a href="/">
            <p class="fr-header__service-tagline">{{ appDescription }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div aria-labelledby="button-492" class="fr-header__menu fr-modal" id="modal-491">
    <div class="fr-container">
      <button aria-controls="modal-491" class="fr-btn--close fr-btn" title="Fermer">
        Fermer
      </button>
      <div class="fr-header__menu-links">
      </div>
      <nav class="fr-nav" id="header-navigation" role="navigation" aria-label="Menu principal">
        <ul class="fr-nav__list">
          <li class="fr-nav__item">
            <a class="fr-nav__link" routerLink="/" routerLinkActive="active" title="Recherchez un rendez-vous" [routerLinkActiveOptions]="{ exact: true }" target="_self" ariaCurrentWhenActive="page" >Recherchez un rendez-vous</a>
          </li>
          <li class="fr-nav__item">
            <button class="fr-nav__btn" aria-expanded="false" title="Recherche ciblée" aria-controls="menu-776"  [attr.aria-current]="searchByTopic1() ? true : null">Recherche ciblée</button>
            <div class="fr-collapse fr-menu" id="menu-776">
              <ul class="fr-menu__list fr-pb-0">
                <li class="fr-nav__item">
                  <a class="fr-nav__link" routerLink="/departements" routerLinkActive="active" title="Départements" target="_self" ariaCurrentWhenActive="page">Départements</a>
                </li>
                <li class="fr-nav__item">
                  <a class="fr-nav__link" routerLink="/villes" routerLinkActive="active" title="Villes" target="_self" ariaCurrentWhenActive="page">Villes</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="fr-nav__item">
            <a class="fr-nav__link" routerLink="/predemande/NumeroPredemande" routerLinkActive="active" title="Retrouvez vos rendez-vous" target="_self" ariaCurrentWhenActive="page">Retrouvez vos rendez-vous</a>
          </li>
          <li class="fr-nav__item">
            <!--a class="fr-nav__link" routerLink="/deterritorialisation" routerLinkActive="active" title="Déterritorialisation" target="_self" ariaCurrentWhenActive="page">Déterritorialisation</a-->
            
            <button class="fr-nav__btn" aria-expanded="false" title="En savoir plus" aria-controls="menu-777"  [attr.aria-current]="searchByTopic2() ? true : null">En savoir plus</button>
            <div class="fr-collapse fr-menu" id="menu-777">

              <ul class="fr-menu__list fr-pb-0">
                <li class="fr-nav__item">
                  <a class="fr-nav__link" routerLink="/informations" routerLinkActive="active" title="Informations" target="_self" ariaCurrentWhenActive="page">Informations</a>
                </li>
                <li class="fr-nav__item">
                  <a class="fr-nav__link" routerLink="/rejoindre-la-demarche" routerLinkActive="active" title="Rejoindre la démarche" target="_self" ariaCurrentWhenActive="page">Rejoindre la démarche</a>
                </li>

                <li class="fr-nav__item">
                  <a class="fr-nav__link" routerLink="/pre-demande-en-ligne" routerLinkActive="active" title="La pré-demande en ligne" target="_self" ariaCurrentWhenActive="page">La pré-demande en ligne</a>
                </li>

                <li class="fr-nav__item">
                  <a class="fr-nav__link" routerLink="/deterritorialisation" routerLinkActive="active" title="La déterritorialisation" target="_self" ariaCurrentWhenActive="page">La déterritorialisation</a>
                </li>

              </ul>
            </div>


          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
