// Fichier dédié aux classes CSS utilisées dans plusieurs composants

.rdv-justify {
  text-align: justify;
}

.rdv-float-right {
  float: right;
}

.rdv-float-left {
  float: left;
}

.rdv-remove-background {
  background-image: none;
}

.rdv-display-flex {
  display: flex;
}

.rdv-text-center {
  text-align: center;
}

.rdv-inline-display {
  display: inline;
}

.rdv-inline-block-display {
  display: inline-block;
}

.rdv-width80 {
  width: 80%;
}

.rdv-width15 {
  width: 15%;
}

.rdv-width14 {
  width: 14%;
}

.rdv-width24 {
  width: 24% !important;
}

.rdv-width25 {
  width: 25%;
}

.rdv-width30 {
  width: 30%;
}

.rdv-width70 {
  width: 70%;
}
.rdv-width100 {
  width: 100%;
}

.rdv-position-relative {
  position: relative;
}

.rdv-word-break {
  word-break: break-word;
}

.rdv-word-break-all {
  word-break: break-all;
}

.rdv-radio-size {
  min-height: 2.7rem !important;
}

.rdv-center-align {
  display: flex;
  justify-content: center;
  text-align: center;
}

.rdv-visually-hidden {
  position: fixed;
  top: -1px;
  left: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: transparent;
  background-color: transparent;
}
.transparent-background {
  background-color: transparent !important;
}
