 <div *ngIf="department">
        <div *ngIf="isDesktop; else mobile">
          <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col fr-col-md-11 fr-col-lg-11 fr-col-xl-11">
              <div class="fr-mb-0">
                <rdv-breadcrumb [items]="breadcrumbs"></rdv-breadcrumb>
              </div>
            </div>
          </div>
          <div class="fr-grid-row fr-grid-row--center fr-mt-4w">
            <div class="fr-col-lg-2 fr-col-xl-2 result-list">
              <img class="rdv-width70" src="assets/logos/{{department['code']}}-logo-{{department['decoded_name']}}.jpg"
                      [title]="'passeport et carte d\'identité départment ' + department['code'] + ' ' + department['name']"
                      alt=""
                      >
            </div>
            <h1 class="fr-col fr-col-md-11 fr-col-lg-8 fr-col-xl-9 rdv-text-center fr-h6">
              Recherchez un rendez-vous pour la délivrance d'un passeport ou d'une carte d'identité
              <br *ngIf="XL"/>
              dans le département
              {{department['code']}} - {{department['name']}}
              <!-- {{department['code']}} - {{department['name'].charAt(0).toUpperCase() + department['name'].slice(1).toLowerCase()}}  -->
            </h1>
          </div>
          <div id="error-message" *ngIf="errorMessage && errorMessage.title && errorMessage.title !== ''"
            class="fr-grid-row fr-grid-row--center fr-grid-row--gutters fr-mt-2w"
            role="alert">
            <div class="fr-col fr-col-md-11 fr-col-lg-10 fr-col-xl-11 fr-ml-2w fr-mr-2w">
              <div class="fr-alert fr-alert--error">
                <p class="fr-alert__title">Erreur : {{ errorMessage.title }}</p>
                <p>{{ errorMessage.description }}</p>
              </div>
            </div>
          </div>

          <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col fr-col-md-11 fr-col-lg-10 fr-col-xl-11 rdv-justify">
              <div class="fr-card fr-card--horizontal">
                <div class="fr-card__body">
                  <div class="fr-card__content">
                    <p class="rdv-inline-block-display">
                      Vous cherchez un rendez-vous en mairie pour déposer une demande de passeport et/ou carte d'identité dans le département
                      <strong>{{department['name']}} - {{department['code']}}</strong> ?
                      Choisissez le rendez-vous disponible qui vous convient le mieux.
                      <br>
                      <strong>Conformément au principe de <a class="fr-link" title="page d'information sur la déterritorialisation - s'ouvre dans la même fenêtre" routerLink="/deterritorialisation" target="_self">déterritorialisation</a>  les usagers peuvent effectuer leur demande dans la mairie de leur choix sur l'ensemble du territoire français. Pour information, toutes les mairies ne sont pas encore référencées dans le moteur de recherche. </strong>
                      <br>Pour réserver en ligne un rendez-vous de dépôt de demande de titre, il est nécessaire de remplir une pré-demande sur le site <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" title="page passeport.ants.gouv.fr - s'ouvre dans une nouvelle fenêtre" href="https://passeport.ants.gouv.fr/demarches-en-ligne" target="_blank" rel="noopener noreferrer">passeport.ants.gouv.fr</a>. Cette pré-demande accélèrera votre démarche.
                    </p>

                  </div>
              </div>
            </div>
          </div>
        </div>
          <form [formGroup]="searchRdvForm" (ngSubmit)="onSearch()">
          <div class="fr-grid-row fr-grid-row--center fr-mt-2w">
              <div class="fr-col fr-col-md-3 fr-col-lg-3 fr-col-xl-4">
                <div class="fr-input-group">
                  <label class="fr-label" for="start-date">Début de recherche</label>
                  <input
                    min="{{ dateMin }}"
                    class="fr-input rdv-width80"
                    type="date"
                    id="start-date"
                    name="start-date"
                    formControlName="start_date"
                    (ngModelChange)="handler($event)"
                  />
                </div>
              </div>
              <div class="fr-col fr-col-md-3 fr-col-lg-3 fr-col-xl-4">
                <div class="fr-input-group">
                  <label class="fr-label" for="end-date">Fin de recherche</label>
                  <input
                    class="fr-input rdv-width80"
                    type="date"
                    id="end-date"
                    name="end-date"
                    min="{{ this.searchRdvForm.get('start_date')?.value }}"
                    max="{{ dateMax }}"
                    formControlName="end_date"
                  />
                </div>
              </div>
              <div class="fr-col fr-col-md-5 fr-col-lg-4 fr-col-xl-3">
                <div class="fr-form-group rdv-float-right">

                </div>
              </div>
            </div>
            <div class="fr-grid-row fr-grid-row--center fr-grid-row-12 fr-mt-2w">
              <div class="fr-col fr-col-md-4 fr-col-lg-3 fr-col-xl-4">
                <div class="fr-select-group rdv-width80">
                  <label class="fr-label" for="selectMotif"> Motif de rendez-vous </label>
                  <select class="fr-select" id="selectMotif" name="select" formControlName="reason">
                    <option value="CNI" selected>Carte d'identité</option>
                    <option value="PASSPORT">Passeport</option>
                    <option value="CNI-PASSPORT">Carte d'identité + passeport</option>
                  </select>
                </div>
              </div>

              <div class="fr-col fr-col-md-4 fr-col-lg-3 fr-col-xl-4">
                <div class="fr-select-group rdv-width80">
                  <label class="fr-label" for="selectPersonDesktop"> Nombre de personnes </label>
                  <select class="fr-select" id="selectPersonDesktop" name="select" formControlName="documents_number">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
              <div class="fr-col fr-col-md-3 fr-col-lg-4 fr-col-xl-3">
                <button
                  id="search-btn"
                  class="fr-btn fr-icon-search-line fr-btn--icon-left rdv-center-align rdv-float-right fr-mt-4w rdv-width100"
                  type="submit"
                  title="Rechercher"
                  [disabled]="isLoadingSearchResult"
                >
                Rechercher
                </button>
              </div>
            </div>
          </form>
        </div>

        <ng-template #mobile>
          <div class="fr-mb-2w fr-ml-2w fr-mr-2w fr-mb-2w fr-mb-0">
          <rdv-breadcrumb [items]="breadcrumbs"></rdv-breadcrumb>
          </div>


          <form *ngIf="department" [formGroup]="searchRdvForm" (ngSubmit)="onSearch()">
            <div class="fr-ml-2w fr-mr-2w fr-mb-2w">
              <rdv-announcement></rdv-announcement>
            </div>

            <div class="fr-card fr-p-1w fr-mr-2w fr-ml-2w fr-mt-2w">
              <div class="logo-department">
                <div class="rdv-text-center">
                  <img class="rdv-width70" src="assets/logos/{{department['code']}}-logo-{{department['decoded_name']}}.jpg"
                  [alt]="'passeport et carte d\'identité départment ' + department['code'] + ' ' + department['name']"
                  >
                </div>
              </div>
            </div>



            <section class="fr-accordion color-background fr-ml-2w fr-mr-2w">
              <button
                type="button"
                class="fr-accordion__btn informations fr-p-1w fr-pl-6w fr-alert fr-alert--info fr-alert--sm"
                aria-expanded="false"
                aria-controls="informations-formulaire"
              >Informations utiles pour la recherche de rendez-vous
              </button>
              <div class="fr-collapse color-background fr-pl-1w fr-pr-1w rdv-justify" id="informations-formulaire">
                <p class="rdv-inline-block-display">
                  Cherchez-vous un rendez-vous pour déposer une demande de passeport et/ou carte d'identité dans le département
                  <strong>{{department['name']}} - {{department['code']}}</strong> ?
                  <br>
                  Choisissez le rendez-vous disponible qui vous convient le mieux.
                  <br>
                  <strong>Conformément au principe de <a class="fr-link" title="page d'information sur la déterritorialisation - s'ouvre dans la même fenêtre" routerLink="/deterritorialisation" target="_self">déterritorialisation</a>  les usagers peuvent effectuer leur demande dans la mairie de leur choix sur l'ensemble du territoire français. Pour information, toutes les mairies ne sont pas encore référencées dans le moteur de recherche. </strong>
                  Pour réserver en ligne un rendez-vous de dépôt de demande de titre, il est nécessaire de remplir une pré-demande sur le site
                  <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" href="https://passeport.ants.gouv.fr/demarches-en-ligne" target="_blank">passeport.ants.gouv.fr</a>
                  . Cette pré-demande accélèrera votre démarche.
                </p>
              </div>
            </section>
            <div class="fr-grid-row fr-grid-row--center fr-ml-2w fr-mr-2w fr-mt-2w">
              <div class="fr-col fr-col-xs12">
                <label class="fr-label fr-text--bold label-color" for="start-date">Début de recherche</label>
                <input min="{{dateMin}}" class="fr-input rdv-center-align" type="date" id="start-date" name="start-date"
                (ngModelChange)="handler($event)"
                formControlName="start_date" />
              </div>
            </div>
            <div class="fr-grid-row fr-grid-row--center fr-ml-2w fr-mr-2w">
              <div class="fr-col fr-mt-3w fr-col-xs12">
                <label class="fr-label label-color fr-text--bold" for="end-date">Fin de recherche</label>
                <input class="fr-input rdv-center-align" type="date" id="end-date" name="end-date"
                min="{{ dateMin }}"
                max="{{ dateMax }}"
                formControlName="end_date" />
              </div>
            </div>

            <div class="fr-grid-row fr-grid-row--center fr-ml-2w fr-mr-2w">
              <div class="fr-col fr-col-xs12 fr-mt-2w">
                <label class="fr-label label-color fr-mb-1w fr-text--bold" for="select-desktop">Motif de rendez-vous</label>
                <div class="fr-select-group">
                  <select class="fr-select" id="select-desktop" name="select" formControlName="reason">
                    <option value="CNI" selected>Carte d'identité</option>
                    <option value="PASSPORT">Passeport</option>
                    <option value="CNI-PASSPORT">Carte d'identité + passeport</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="fr-grid-row fr-grid-row--center fr-ml-2w fr-mr-2w">
              <div class="fr-col fr-col-xs12 fr-mt-3w">
                <label class="fr-label label-color fr-mb-1w fr-text--bold" for="selectPerson">Nombre de personnes</label>
                <div class="fr-select-group">
                  <select class="fr-select" id="selectPerson" name="selectPerson" formControlName="documents_number">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
              </div>
            </div>


            <div class="fr-grid-row fr-grid-row--center">
              <div class="fr-col-xs12 fr-mt-2w">
                <button
                  class="fr-btn fr-icon-search-line fr-btn--icon-left fr-btn--lg fr-pl-1w"
                  type="submit"
                  [disabled]="this.searchRdvForm.invalid"
                >
                  <div>Rechercher</div>
                </button>
              </div>
            </div>
            <div class="fr-grid-row fr-grid-row--center fr-mt-2w">
              <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right rdv-remove-background" routerLink="/predemande/NumeroPredemande" routerLinkActive="active" title="Retrouvez vos rendez-vous" target="_self" ariaCurrentWhenActive="page">Retrouvez vos rendez-vous</a>
            </div>
            </form>
          </ng-template>
      </div>


      <div [attr.aria-busy]="isLoadingSearchResult" *ngIf="isLoadingSearchResult" class="container fr-mt-3w rdv-position-relative">
        <ngx-spinner color="var(--blue-france-main-525)" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"> </ngx-spinner>
      </div>

