div a {
  display: inline !important;
}

.fr-accordion__btn:after {
  margin-left: auto !important;
}
::ng-deep .fr-accordion .fr-collapse--expanded {
  padding-bottom: 0;
  background-color: transparent;
}
.department-link {
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
  a {
    --underline-idle-width: 0;
  }
}
::ng-deep a.department-link:hover {
  --underline-hover-width: unset;
}
