<main role="main" id="contenu">
    <div class="fr-container main-body" >
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10">
          <rdv-breadcrumb [items]="breadcrumbs" ></rdv-breadcrumb>
        </div>
      </div>
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10">
           <div class="rdv-text-center">
            <h1 class="fr-h6 fr-mb-0">Rechercher des créneaux de rendez-vous par département</h1>
            <p class="fr-mt-1w rdv-text-center">
                Effectuez une recherche ciblée à l'échelle d'un département depuis la liste suivante          </p>
          </div>
        </div>
      </div>



        <div class="fr-grid-row fr-grid-row--center fr-mt-3w">
            <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10 fr-col-xs-2">
        <div *ngIf="regionsMap.keys()">
        <section  class="fr-accordion" *ngFor="let id of getKeys(); let index = index">
            <h3 class="fr-accordion__title">
                <button class="fr-accordion__btn" aria-expanded="false" [attr.aria-controls]="'id'+index">{{id}}</button>
            </h3>

            <div class="fr-collapse" [attr.id]="'id'+index">
                <p class="department-link"  *ngFor="let department of regionsMap.get(id)">
                    <a class="department-link" routerLink="/departement/{{department && department.decoded_name}}" title="lien vers le département : {{department.name}} ">{{department && department.code}} - {{department && department.name}}</a>
                </p>
            </div>

        </section>
    </div>
</div>
</div>
</div>
</main>
