@media only screen and (max-width: 1024px) {
  .custom-margin {
    margin-right: 16px;
    text-align: center;
  }
}

input::placeholder {
  font-size: 15px;
}

@media (max-width: 759px) {
  .margin-right-mobile {
    margin-right: 16px;
  }
}
