<nav role="navigation" class="fr-breadcrumb fr-mb-4v" aria-label="vous êtes ici :">
  <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d’Ariane</button>
  <div class="fr-collapse" id="breadcrumb">
    <ol class="fr-breadcrumb__list">
      <li class="fr-breadcrumb__item" *ngFor="let item of items; let index = index;
      last as isLast">
        <a *ngIf="!isLast;else page" [routerLink]="item?.url" class="fr-breadcrumb__link">{{item?.label}}</a>
        <ng-template #page>
          <a class="fr-breadcrumb__link" aria-current="page">{{item?.label}}</a>
        </ng-template>
      </li>
    </ol>
  </div>
</nav>
