<div class="fr-container main-body">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col fr-col-md-11 fr-col-lg-10 fr-col-xl-11">
        <div class="fr-mt-0">
          <rdv-breadcrumb [items]="breadcrumbs" ></rdv-breadcrumb>
        </div>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col fr-col-md-11 fr-col-lg-10 fr-col-xl-11">

        <h1 class="rdv-inline-block-display fr-h6 custom-margin rdv-justify" id="contenu">La pré-demande en ligne</h1>


        <p>
            <strong>Pourquoi faire une pré-demande en ligne ?</strong><br>
            La pré-demande de titre d’identité est une démarche en ligne que tout citoyen peut réaliser à partir de la <a href="https://moncompte.ants.gouv.fr/connexion" title="page - moncompte.ants.gouv.fr/connexion - s'ouvre dans une nouvelle fenêtre" target="_blank">plateforme de pré-demande de l’ANTS.</a> Elle est une étape préalable à la prise de rendez-vous en ligne pour la demande ou le renouvellement de passeports et de cartes d’identité. Cette étape est un levier d’amélioration du parcours de rendez-vous, pour l’usager comme pour l’agent en mairie (durée, taux d’erreurs, etc.).<br>
            Elle permet par ailleurs un meilleur suivi des dossiers tout le long de la chaîne de traitement, de la prise de rendez-vous à l’instruction.<br>    
            Comme certaines mairies le font déjà actuellement, le remplissage d’une pré-demande sera prochainement une étape préalable à toute prise de rendez-vous en ligne dans le cadre des demandes de titres d’identité.
        </p>

    
    
        <p>
            <strong>Vous ne souhaitez pas réaliser une pré-demande en ligne ?</strong><br>
            Près de trois usagers sur quatre réalisent déjà une pré-demande avant de prendre rendez-vous en ligne.<br>
            Si cela vous pose une difficulté, vous pouvez toutefois vous faire accompagner par votre collectivité (France Services, point d’accueil numérique, etc.) ou bien alternativement vous tourner vers un guichet traditionnel (téléphone ou physique) afin d’effectuer votre demande de rendez-vous. Dans ce cas, il vous sera demandé de remplir votre dossier directement en mairie.
        </p>

        </div>
    </div>
</div>