<div class="fr-container main-body">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10">
            <div class="fr-mb-2w">
              <rdv-breadcrumb [items]="breadcrumbs" ></rdv-breadcrumb>
            </div>


            <h1 class="rdv-word-break" id="contenu">Mentions d'information sur la protection des données à caractère personnel –
            rendezvouspasseport.ants.gouv.fr</h1>
            <h2 class="fr-mt-2w">Politique de protection des données</h2>

            <h2 class="fr-mt-2w">1.	Responsable du traitement :</h2>
            <div class="rdv-justify fr-mt-2w">
                <p>Le responsable de traitement est l'Agence Nationale des Titres Sécurisés (ANTS), créée par le décret n° 2007240 du 22 février 2007.</p>
            </div>


            <h2 class="fr-mt-2w">2.	Finalité(s) du traitement :</h2>
            <div class="rdv-justify fr-mt-2w">
                <p>La finalité du traitement « rendezvouspasseport.ants.gouv.fr » est de permettre aux utilisateurs d’être informés sur les créneaux de rendez-vous pour effectuer une demande de carte nationale d’identité ou de passeport dans les mairies lorsqu’ils activent la géolocalisation sur le site. Le traitement a également pour objet d’informer les usagers sur le suivi de leur prise de rendez-vous lorsqu’ils indiquent leur numéro de pré-demande.
                    Note : les sites permettant la prise de rendez-vous en mairie ne sont pas gérés par le site « rendezvouspasseport.ants.gouv.fr »
                </p>
            </div>

            <h2 class="fr-mt-2w">3.	Base juridique du traitement de données</h2>
            <div class="rdv-justify fr-mt-2w">
                <p>Le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable du traitement.
                    Il se fonde sur l’article 2, 5° du décret n°2007-240 du 22 février 2007 portant création de l’Agence nationale des titres sécurisés.
                </p>
            </div>

            <h2 class="fr-mt-2w">4.	Les données collectées</h2>
            <div class="rdv-justify fr-mt-2w">
                <p> - adresse IP<br>
                    - numéro de pré-demande<br>
                    - géolocalisation de l’usager lorsque celle-ci est activée
                </p>
            </div>


            <h2 class="fr-mt-2w">5.	Les catégories de personnes concernées</h2>
            <div class="rdv-justify fr-mt-2w">
                <p>Les personnes concernées sont les usagers qui recherchent des créneaux pour prendre rendez-vous dans une mairie.
                </p>
            </div>

            <h2 class="fr-mt-2w">6.	Les destinataires des données</h2>
            <div class="rdv-justify fr-mt-2w">
                <p>Les destinataires sont les personnes habilitées à obtenir communication des données enregistrées dans un fichier ou un traitement en raison de ses fonctions.<br>
                    Les destinataires du traitement « rendezvouspasseport.ants.gouv.fr » sont :<br>
                    -    les agents de l'ANTS et ses sous-traitants Sopra Steria et Eurogroup Consulting France, au sens de l'article 28 du règlement général à la protection des données (RGPD), qui ont la charge du développement et du maintien du site ;<br>
                    -    les éditeurs des sites permettant aux usagers de prendre rendez-vous dans une mairie pour effectuer leur demande.

                </p>
            </div>


            <h2 class="fr-mt-2w">7.	La durée de conservation des données</h2>
            <div class="rdv-justify fr-mt-2w">
                <p>Les durées de conservations sont les suivantes :<br>
                    ➣	 3 mois pour les adresses IP ;<br>
                    ➣	Pas de conservation du numéro de pré-demande<br>
                </p>
            </div>


            <h2 class="fr-mt-2w">8.	Les mesures de sécurité</h2>
            <div class="rdv-justify fr-mt-2w">
                <p>Les mesures de sécurité sont toutes les mesures techniques et organisationnelles prises dans l'objectif de protéger les données à caractère personnel collectées et traitées contre toute destruction, perte, altération ou modification, ainsi que tout accès ou divulgation non autorisé, de nature accidentelle ou illégale.<br>
                   Les données personnelles recueillies dans le cadre des services proposés sur le site rendezvouspasseport.ants.gouv.fr sont traitées selon des protocoles sécurisés et permettent à l'ANTS de gérer les demandes reçues dans ses applications informatiques.<br>
                   Ces mesures de sécurité sont mises en œuvre conformément au : <br><br>
                   -	Référentiel Général de Sécurité, RGS 2.1, 06 octobre 2015<br>
                   -	Politique de Sécurité des Systèmes d'Information de l'Etat (PSSIE), V 1.0, 17 juillet 2014<br>
                </p>
            </div>



            <h2 class="fr-mt-2w">9.	Transfert des données hors Union européenne et prise de décision automatisée</h2>
            <div class="rdv-justify fr-mt-2w">
                <p>Vos données ne sont pas transférées en dehors du territoire de l'Union européenne.
                    Aucune prise de décision automatisée n'est effectuée par les services de l'ANTS.
                </p>
            </div>



            <h2 class="fr-mt-2w">10.	 L'exercice de vos droits </h2>
            <div class="rdv-justify fr-mt-2w">
                    <p>Conformément à l'ensemble des réglementations en vigueur, vous bénéficiez de droits concernant vos données.
                    </p>

                    <div>
                        <ul class="fr-ml-2w">
                            <li><p>Un droit d'accès et d'information</p></li>
                        </ul>
                        <p class="fr-mt-n3w">
                            Le droit d'accès s'exerce dans les conditions prévues à l’article 15 du RGPD. Vous pouvez formuler une demande afin de connaître les données que nous détenons sur vous, ainsi que l’obtention d’une copie.
                            Vous avez le droit d'être informé à tout moment de manière claire, transparente et compréhensible sur le traitement qui est fait sur vos données.
                        </p>
                    </div>


                    <div>
                        <ul class="fr-ml-2w">
                            <li><p>Un droit de rectification :</p></li>
                        </ul>
                        <p class="fr-mt-n3w">
                            Toute donnée vous concernant incomplète ou erronée peut être modifiée à votre demande. Vous pouvez également compléter vos données à tout moment par une déclaration complémentaire.
                        </p>
                    </div>

                    <div>
                        <ul class="fr-ml-2w">
                            <li><p>Un droit d'effacement :</p></li>
                        </ul>
                        <p class="fr-mt-n3w">
                            Le droit à l’effacement ne s’applique pas en application de l’article 17 3. b) du RGPD.
                        </p>

                    </div>



                    <div>
                        <ul class="fr-ml-2w">
                            <li><p>Le droit à la limitation du traitement : </p></li>
                        </ul>
                        <p class="fr-mt-n3w">
                            Le droit à la limitation s’applique dans les conditions prévues à l’article 18 du RGPD.
                        </p>

                    </div>


                    <div>
                        <ul class="fr-ml-2w">
                            <li><p>Le droit d'opposition :  </p></li>
                        </ul>
                        <p class="fr-mt-n3w">
                            Dans le cas où vous exerceriez ce droit, l'ANTS pourra vous demander les raisons tenant à votre situation particulière et a la possibilité de vous opposer des motifs impérieux et légitimes qui prévaudraient sur votre demande en application de l'article 21-1 du RGPD.<br>
                        </p>
                    </div>

                    <div>
                        <b>Exercer vos droits</b><br><br>
                        <p>
                        Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données personnelles gérés par l'ANTS et à l'exclusion de toute autre demande, vous pouvez contacter son délégué à la protection des données en joignant la copie de votre pièce d'identité (passeport, carte d'identité, titre de séjour ou justificatif d'identité établi via l'application France Identité) :<br>
                        Par courrier :
                        </p>
                        <ul class="fr-ml-2w">
                            <li><p>Par courrier (avec copie de votre pièce d’identité en cas d'exercice de vos droits) à l'adresse suivante : <br>
                                ANTS – Responsable du traitement « Rendez-vous mairie »
                                18 rue Irénée Carré BP70474
                                08101 CHARLEVILLE MEZIERES CEDEX

                                </p>
                            </li>
                        </ul>


                        <ul class="fr-ml-2w">
                            <li><div>Ou par courriel à l'adresse suivante : [donnees-personnelles-ants@interieur. gouv.fr]<br>
                                    Vous pouvez aussi déposer une réclamation auprès de la Commission nationale de l’informatique et des libertés :<br><br>
                                    <div class="rdv-text-center">
                                    Commission nationale de l'informatique et des libertés<br>
                                    3 Place de Fontenoy<br>
                                    TSA 80715<br>
                                    75334 Paris Cedex 07<br>
                                    <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right rdv-word-break-all" href="https://www.cnil.fr/fr/plaintes" target="_blank">www.cnil.fr/fr/plaintes</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</div>
