.fr-alert-partial--success {
  box-shadow:
    inset 0 0 0 1px #e4794a,
    inset 2.5rem 0 0 0 #e4794a;
}
.fr-alert-partial--success::before {
  -webkit-mask-image: url('/assets/fr--success-fill.svg');
  mask-image: url('/assets/fr--success-fill.svg');
  content: '';
}
