<div class="fr-container main-body">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col fr-col-md-11 fr-col-lg-10 fr-col-xl-11">
        <div class="fr-mt-0">
          <rdv-breadcrumb [items]="breadcrumbs" ></rdv-breadcrumb>
        </div>
      </div>
    </div>
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col fr-col-md-11 fr-col-lg-10 fr-col-xl-11">

        <h1 class="rdv-inline-block-display fr-h6 custom-margin rdv-justify" id="contenu">Informations</h1>

        <p class="fr-mb-2w rdv-justify">
            Dans un contexte de hausse de demande de renouvellement de passeport et de carte d’identité, l’ANTS met en place sur le <a href="https://passeport.ants.gouv.fr/demarches-en-ligne/effectuer-le-renouvellement-de-votre-carte-didentite" title="page passeport.ants.gouv.fr/demarches-en-ligne/effectuer-le-renouvellement-de-votre-carte-didentite - s'ouvre dans une nouvelle fenêtre" target="_blank">portail ANTS</a> une plateforme de prise de rendez-vous en ligne depuis novembre 2022.<br>
            L’usager peut ainsi :<br>
        </p>  

<ul class="fr-ml-2w rdv-justify">
    <li>
        <p>Avoir un aperçu de l'ensemble des rendez-vous disponibles en fonction de sa localisation et du rayon de recherche souhaité ;</p>
    </li>
    <li>
        <p>Identifier tous les rendez-vous qu'il a pu prendre en renseignant son numéro de pré-demande et ainsi annuler les éventuels rendez-vous pris en doublon.</p>
    </li>
</ul>

<p>La plateforme affiche tous les créneaux disponibles des mairies de France qui lui sont raccordées, et vous permet d’arriver directement sur le site de prise de rendez-vous.</p>

<p>
    <strong>Qu’est-ce que ça change pour les usagers ?</strong><br>
    Si vous êtes pressés, vous partez en voyage, et avez besoin en urgence de refaire votre passeport ou carte d’identité, vous n’avez plus à naviguer sur les sites internet des différentes mairies ni à les appeler pour chercher un rendez-vous. La plateforme de l’ANTS vous permet de trouver de manière rapide un rendez-vous à proximité en renseignant vos contraintes de temps et/ou de distance.
</p>

<p>
    <strong>Comment ça marche ?</strong><br>
    La plateforme met en lien et synchronise entre eux les sites internet des mairies qui lui sont raccordés. Toutes les mairies ne sont pas équipées d’une solution compatible avec ce système. La rubrique « Autres possibilités » indique donc les différents points de rendez-vous auprès desquels vous pouvez également vérifier directement les disponibilités, en complément des résultats de la recherche.
</p>


<p><strong>Bonnes pratiques de la prise de rendez-vous en ligne : </strong></p>
<p class="fr-ml-2w rdv-justify">
-         J’anticipe au maximum ma demande de titre<br>

-         Je réalise une pré-demande en ligne avant de prendre rendez-vous<br>

-         Si je ne peux me présenter à un rendez-vous, j’en informe ma mairie afin de libérer le créneau<br>

-         Je vérifie bien la liste des documents à apporter le jour J et leur validité<br>
</p>      
        </div>
    </div>