<div class="fr-skiplinks">
    <nav class="fr-container" role="navigation" aria-label="Accès rapide">
        <ul class="fr-skiplinks__list">
            <li>
                <a class="fr-link" [href]="createHref('#contenu')" title="lien vers le contenu de la page">Contenu</a>
            </li>
            <li>
                <a class="fr-link" [href]="createHref('#header-navigation')" title="lien vers le menu de la page">Menu</a>
            </li>
            <li>
                <a class="fr-link" [href]="createHref('#footer')" title="lien vers le pied de la page">Pied de page</a>
            </li>
        </ul>
    </nav>
</div>