<main class="desktop">
<div *ngIf="message && message !== ''">
    <rdv-message [nbResult]=results_length
                 [non_response_percentage_from_editors] = non_response_percentage_from_editors
                 [endOfSearch] = endOfSearch
                 [isLoadingSearchResult] = isLoadingSearchResult
                 [message]= message
                 [type]="'Desktop'"
                 [searchByDepartment] = searchByDepartment
    ></rdv-message>
</div>
<div class="fr-mt-3w hidden" *ngIf="slots && slots?.size !== 0; else offlineMunicipalities">
  <div *ngIf="sortBy === 'Date' && ! onlyOfflineMunicipalities; else Distance">
    <ul class="fr-tabs fr-grid-row--middle" role="tablist" aria-label="liste de creneaux">
      <div class="w85">
        <li *ngIf="start - step >= 0" class="fr-square-li aligne-middle" role="navigation" aria-label="Accés à la période précédente">
          <button
            id="tabpanel-before-date"
            class="fr-btn fr-btn-rounded fr-btn--tertiary fr-fi-arrow-left-line"
            (click)="previous()"
            [disabled]="start - step < 0"
            title="Période précédente"
          >
            Période précédente
          </button>
        </li>
        <li *ngIf="rawOfflineMunicipalities?.length && start===0" role="presentation">
          <button #buttons
                  class="fr-tabs__tab fr-tab aligne-middle custom-tab-height"
                  [attr.id]="'tabpanel' + -1"
                  [attr.tabindex]="-1"
                  role="tab"
                  title="Autres possibilités"
                  (click)="select(-1)">
          Autres<br>possibilités
          </button>
        </li>
        <li *ngFor="let tab of keys(slots); let index = index; trackBy: identify"  role="presentation">
          <button #buttons
                  class="fr-tabs__tab fr-tab"
                  [attr.id]="'tabpanel' + index"
                  [attr.aria-selected]="index === 0 && currentTab === 0"
                  role="tab"
                  (click)="select(index)"
          >
            {{ toDate(tab) | date: 'ccc d MMM ' }}
          </button>
        </li>
        <li *ngIf="slots && end  < slots.size" class="fr-square-li aligne-middle" role="navigation" aria-label="Accés à la période suivante">
          <button
            id="tabpanel-after-date"
            class="fr-btn fr-btn-rounded fr-btn--tertiary fr-fi-arrow-right-line rdv-disableable-tabindex"
            (click)="next()"
            [disabled]="slots && end  > slots.size"
            title="Période suivante"
          >
            Période suivante
          </button>
        </li>
      </div>

      <li class="select">
        <div>
          <label class="fr-label" for="sort-by"> Trier par </label>
          <select class="fr-select rdv-disableable-tabindex" id="sort-by" name="select" (change)="onChange($event)" [value]="sortBy">
            <option value="Date">Date</option>
            <option value="Distance">Distance</option>
          </select>
        </div>
      </li>
    </ul>

    <div class="tab-content">
      <div  *ngIf="rawOfflineMunicipalities?.length && start===0"
          class="fr-custom-tabpanel fr-custom-tabpanel--selected fr-py-0 fr-px-8v"
          [attr.id]="'tab' + -1"
          [ngStyle]="{ display: currentTab === -1 ? 'block' : 'none' }"
          role="tabpanel">
        <rdv-appointment-list  [index]="step"  [sortBy]="sortBy" [slotsPerTabs]="rawOfflineMunicipalities"></rdv-appointment-list>
      </div>

      <div #tabpanels
          class="fr-custom-tabpanel fr-custom-tabpanel--selected fr-py-0 fr-px-8v"
          *ngFor="let tab of keys(slots); let index = index; trackBy: identify"
          [attr.id]="'tab' + index"
          [attr.tabindex]="index === 0 && start!==0 ? 0 : -1"
          [ngStyle]="{ display: index === 0 ? 'block' : 'none' }"
          role="tabpanel">
          <rdv-appointment-list [index]="step" [tab]="toDate(tab)" [sortBy]="sortBy" [slotsPerTabs]="slots.get(tab)"></rdv-appointment-list>
      </div>
    </div>
  </div>
  <ng-template #Distance>
    <ul class="fr-tabs" role="tablist" aria-label="liste de creneaux">
      <div class="w85">
        <li *ngIf="start - step >= 0" class="fr-square-li aligne-middle" role="navigation" aria-label="Afficher les créneaux les plus proches en distance">
          <button
            id="tabpanel-before"
            class="fr-btn fr-btn-rounded fr-btn--tertiary fr-fi-arrow-left-line"
            title="Précédent"
            (click)="previous()"
            [disabled]="start - step < 0"
          >
            Précédent
          </button>
        </li>
        <li *ngIf="rawOfflineMunicipalities?.length && start===0" role="presentation">
          <button #buttons
                  class="fr-tabs__tab fr-tab custom-tab-height aligne-middle"
                  [attr.id]="'tabpanel' + -1"
                  title="Autres possibilités"
                  [attr.tabindex]="-1"
                  role="tab"
                  (click)="select(-1)"
          >
          Autres<br>possibilités
          </button>
        </li>
        <li *ngFor="let tab of keys(slots); let index = index; trackBy: identify" role="presentation">
          <button
            *ngIf="slots.get(tab) && slots.get(tab)?.length"
            class="fr-tabs__tab fr-tab"
            [attr.id]="'tabpanel' + index"
            [attr.aria-selected]="index === 0"
            (click)="select(index)"
          >
            {{ StringToNumber(tab) - 5 }} à {{ tab }} km
          </button>
        </li>
        <li *ngIf="slots && end < slots.size" class="fr-square-li aligne-middle" role="navigation" aria-label="Afficher les créneaux les plus éloignés en distance">
          <button
            id="tabpanel-after"
            class="fr-btn fr-btn-rounded fr-btn--tertiary fr-fi-arrow-right-line"
            title="Suivant"
            (click)="next()"

          >
            Suivant
          </button>
        </li>
      </div>
      <li *ngIf="!onlyOfflineMunicipalities" class="select">
        <div class="fr-select-group">
          <label class="fr-label" for="sort-by"> Trier par </label>
          <select class="fr-select rdv-disableable-tabindex" id="sort-by" name="select" (change)="onChange($event)">
            <option value="Date">Date</option>
            <option value="Distance" selected>Distance</option>
          </select>
        </div>
      </li>
    </ul>
    <div class="tab-content">
      <div *ngIf="rawOfflineMunicipalities?.length"
          class="fr-custom-tabpanel fr-custom-tabpanel--selected fr-py-0 fr-px-8v"
          [attr.id]="'tab' + -1"
          [ngStyle]="{ display: currentTab === -2 ? 'block' : 'none' }"
          role="tabpanel">
        <rdv-appointment-list  [index]="step"  [sortBy]="sortBy" [slotsPerTabs]="rawOfflineMunicipalities"></rdv-appointment-list>
      </div>
      <div
        class="fr-custom-tabpanel fr-custom-tabpanel--selected fr-px-8v fr-py-0 fr-px-8v"
        *ngFor="let tab of keys(slots); let index = index; trackBy: identify"
        [attr.id]="'tab' + index"
        [attr.tabindex]="index === 0 ? 0 : -1"
        [attr.fr-custom-tabpanel--selected]="index!==0"
        [ngStyle]="{ display: index === 0 ? 'block' : 'none' }"
        role="tabpanel"
      >
        <rdv-appointment-list [index]="step" [sortBy]="sortBy" [slotsPerTabs]="slots.get(tab)"></rdv-appointment-list>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #offlineMunicipalities>
    <div  *ngIf="rawOfflineMunicipalities?.length"
        class="fr-custom-tabpanel fr-custom-tabpanel--selected fr-px-8v fr-py-0 fr-px-8v"
        role="tabpanel">
      <rdv-appointment-list  [index]="step"  [sortBy]="sortBy" [slotsPerTabs]="rawOfflineMunicipalities"></rdv-appointment-list>
    </div>
</ng-template>

</main>


<main class="mobile">
  <div *ngIf="message && message !== ''">
    <rdv-message [nbResult]=results_length
                 [non_response_percentage_from_editors] = non_response_percentage_from_editors
                 [endOfSearch] = endOfSearch
                 [isLoadingSearchResult] = isLoadingSearchResult
                 [message]= message
                 [type]="'Mobile'"
                 [searchByDepartment] = searchByDepartment
    ></rdv-message>
  </div>
  <div *ngIf="sortBy === 'Date' && !onlyOfflineMunicipalities; else Distance">
    <div class="fr-accordions-group fr-m-2w">
      <div *ngIf="results_length && results_length > 0" class="fr-select-group">
        <label class="fr-label label-color fr-text--bold" for="sort-by"> Trier par </label>
        <select class="fr-select rdv-disableable-tabindex" id="sort-by" name="select" (change)="onChange($event)" [value]="sortBy">
          <option value="Date">Date</option>
          <option value="Distance">Distance</option>
        </select>
      </div>
  <section class="fr-accordion">
    <div class="fr-h3 fr-accordion__title fr-mt-1w">
          <button *ngIf="rawOfflineMunicipalities?.length" class="fr-accordion__btn fr-accordion-custom accordion-custom"
                  [attr.id]="'button-' + -1" (click)="ani($event, -1)"
                  aria-expanded="false" [attr.aria-controls]="'accordion-' + -1">
            Autres possibilités
          </button>
    </div>
    <div class="fr-custom-collapse" [attr.id]="'accordion-' + -1">
          <div
            class="fr-card fr-card--horizontal disable-pointer fr-m-1w "
            *ngFor="let slot of rawOfflineMunicipalities; let index = index">
            <div [ngClass]="{'offlineMunicipality': slot?.hour }" class="div">
              <div class="fr-mb-3w fr-mt-3w fr-ml-2w rdv-display-flex">
                <div *ngIf="slot.logo;else noLogo" class="max-width">
                  <img
                  class="mobile-logo-municipality fr-responsive-img hide-bg"
                  [attr.src]="slot.logo"
                    alt=""
                    title="Logo de la ville de {{slot.municipality}}"
                    srcset=""
                  onerror="this.onerror=null; this.src='/assets/icon-bank-fill.png'; this.classList.add('default-logo')"
                  />
                </div>
                <ng-template #noLogo>
                  <div class="max-width">
                    <img
                      class="mobile-logo-municipality fr-responsive-img default-logo"
                      src="/assets/icon-bank-fill.png"
                      alt=""
                      title="Logo de la ville de {{slot.municipality}}"
                      srcset=""
                    />
                  </div>
                </ng-template>
                <div class="fr-mr-2w fr-ml-3w">
                  <div class="fr-mb-1w fr-text--bold name address">{{ slot?.municipality }}</div>
                  <div class="address">{{ slot?.publicEntryAddress }}</div>
                  <div *ngIf="localisedByTpe && !searchByDepartment" class="fr-mt-1w fr-mb-1w distance-km address">
                    {{ slot?.distance?.toLocaleString()?.replace('.', ',') }} km de votre position
                  </div>
                  <div *ngIf="!localisedByTpe && !searchByDepartment" class="fr-mt-1w fr-mb-1w distance-km address">
                    {{ slot?.distance?.toLocaleString()?.replace('.', ',') }} km de {{ formatAddress(searchCriteria?.address) }}
                  </div>
                  <span *ngIf="slot.phone_number" class="fr-icon-phone-fill" aria-hidden="true"></span> <a class="address enable-pointer"  href="tel:{{ slot.phone_number}}">{{ slot.phone_number}}</a>
                </div>
              </div>
              <div class="fr-mb-1w fr-ml-2w fr-mr-2w website">
                  <div data-fr-opened="false" aria-controls="fr-modal-2">
                    <button  class="reserve enable-pointer" target="_blank" (click)="setModalUrl2(slot.municipality, slot.website)">
                      Site internet
                    </button>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </section>




  <section class="fr-accordion" *ngFor="let listPerDay of keys(slots); let index = index">
    <div class="fr-h3 fr-accordion__title fr-mt-1w">
      <button class="fr-accordion__btn fr-accordion-custom accordion-custom"
              [attr.id]="'button-' + index" (click)="ani($event, index)"
              aria-expanded="false" [attr.aria-controls]="'accordion-' + index">
        {{ toDate(listPerDay) | date: 'EEEE d MMMM YYYY' }}
      </button>
    </div>
    <div class="fr-custom-collapse" [attr.id]="'accordion-' + index" *ngIf="slots?.get(listPerDay)">
      <div
        class="fr-card fr-card--horizontal disable-pointer fr-m-1w "
        *ngFor="let slot of getTenSlots(slots?.get(listPerDay)); let index = index"
      >
        <div [ngClass]="{'offlineMunicipality': slot?.hour }" class="div">

          <div class="fr-mb-3w fr-mt-3w fr-ml-2w rdv-display-flex">
            <div *ngIf="slot.logo;else noLogo" class="max-width">
              <img
              class="mobile-logo-municipality fr-responsive-img hide-bg"
              [attr.src]="slot.logo"
                alt=""
                title="Logo de la ville de {{slot.municipality}}"
                srcset=""
              onerror="this.onerror=null; this.src='/assets/icon-bank-fill.png'; this.classList.add('default-logo')"
              />
            </div>
            <ng-template #noLogo>
              <div class="max-width">
                <img
                  class="mobile-logo-municipality fr-responsive-img default-logo"
                  src="/assets/icon-bank-fill.png"
                  alt=""
                  title="Logo de la ville de {{slot.municipality}}"
                  srcset=""
                />
              </div>
            </ng-template>
            <div class="fr-mr-2w fr-ml-3w">
              <div class="fr-mb-1w fr-text--bold name address">{{ slot?.municipality }}</div>
              <div class="address">{{ slot?.publicEntryAddress }}</div>
              <div *ngIf="localisedByTpe && !searchByDepartment" class="fr-mt-1w fr-mb-1w distance-km address">
                {{ slot?.distance?.toLocaleString()?.replace('.', ',') }} km de votre position
              </div>
              <div *ngIf="!localisedByTpe && !searchByDepartment" class="fr-mt-1w fr-mb-1w distance-km address">
                {{ slot?.distance?.toLocaleString()?.replace('.', ',') }} km de {{ formatAddress(searchCriteria?.address) }}
              </div>
              <div class="address">{{ toDate(slot.hour + ' ') | date: 'EEEE d MMMM YYYY' }}</div>
            </div>
          </div>
          <div class="fr-mb-1w fr-ml-2w fr-mr-2w website">
            <div *ngIf="slot?.url; else website"
                 data-fr-opened="false" aria-controls="fr-modal-2">
              <button class="reserve enable-pointer" (click)="setModalUrl(slot?.url)">
                Réserver à <b class="town-name">{{ __getLocaleTimeFormat__(slot?.hour) }}</b>
              </button>
            </div>
            <ng-template #website>
              <div data-fr-opened="false" aria-controls="fr-modal-2">
                <button  class="reserve enable-pointer" target="_blank" (click)="setModalUrl2(slot.municipality, slot.website)">
                  Site internet
                </button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <div *ngIf="getLength(slots?.get(listPerDay)) > limiter" class="afficherPlus">
        <button class="fr-text--bold" (click)="onLoadMore()">
          Afficher plus de résultats
          <span class="fr-icon-arrow-down-s-line" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </section>
  </div>
  </div>

  <ng-template #Distance>
    <div class="fr-accordions-group fr-m-2w">
      <div *ngIf="results_length && results_length > 0" class="fr-select-group">
        <label class="fr-label label-color fr-text--bold" for="sort-by"> Trier par </label>
        <select class="fr-select rdv-disableable-tabindex" id="sort-by" name="select" (change)="onChange($event)">
          <option value="Date">Date</option>
          <option value="Distance" selected>Distance</option>
        </select>
      </div>

      <section class="fr-accordion">
        <div class="fr-h3 fr-accordion__title fr-mt-1w">
              <button *ngIf="rawOfflineMunicipalities?.length" class="fr-accordion__btn fr-accordion-custom accordion-custom"
                      [attr.id]="'button-' + -1" (click)="ani($event, -1)"
                      aria-expanded="false" [attr.aria-controls]="'accordion-' + -1">
                Autres possibilités
              </button>
        </div>
        <div class="fr-custom-collapse" [attr.id]="'accordion-' + -1">
              <div
                class="fr-card fr-card--horizontal disable-pointer fr-m-1w "
                *ngFor="let slot of rawOfflineMunicipalities; let index = index">
                <div [ngClass]="{'offlineMunicipality': slot?.hour }" class="div">
                  <div class="fr-mb-3w fr-mt-3w fr-ml-2w rdv-display-flex">
                    <div *ngIf="slot.logo;else noLogo" class="max-width">
                      <img
                      class="mobile-logo-municipality fr-responsive-img hide-bg"
                      [attr.src]="slot.logo"
                        alt=""
                        title="Logo de la ville de {{slot.municipality}}"
                        srcset=""
                      onerror="this.onerror=null; this.src='/assets/icon-bank-fill.png'; this.classList.add('default-logo')"
                      />
                    </div>
                    <ng-template #noLogo>
                      <div class="max-width">
                        <img
                          class="mobile-logo-municipality fr-responsive-img default-logo"
                          src="/assets/icon-bank-fill.png"
                          alt=""
                          title="Logo de la ville de {{slot.municipality}}"
                          srcset=""
                        />
                      </div>
                    </ng-template>
                    <div class="fr-mr-2w fr-ml-3w">
                      <div class="fr-mb-1w fr-text--bold name address">{{ slot?.municipality }}</div>
                      <div class="address">{{ slot?.publicEntryAddress }}</div>
                      <div *ngIf="localisedByTpe && !searchByDepartment" class="fr-mt-1w fr-mb-1w distance-km address">
                        {{ slot?.distance?.toLocaleString()?.replace('.', ',') }} km de votre position
                      </div>
                      <div *ngIf="!localisedByTpe && !searchByDepartment" class="fr-mt-1w fr-mb-1w distance-km address">
                        {{ slot?.distance?.toLocaleString()?.replace('.', ',') }} km de {{ formatAddress(searchCriteria?.address) }}
                      </div>
                      <span *ngIf="slot.phone_number" class="fr-icon-phone-fill" aria-hidden="true"></span> <a class="address enable-pointer"  href="tel:{{ slot.phone_number}}">{{ slot.phone_number}}</a>
                    </div>
                  </div>
                  <div class="fr-mb-1w fr-ml-2w fr-mr-2w website">
                      <div data-fr-opened="false" aria-controls="fr-modal-2">
                        <button  class="reserve enable-pointer" target="_blank" (click)="setModalUrl2(slot.municipality, slot.website)">
                          Site internet
                        </button>
                      </div>
                  </div>
              </div>
            </div>
        </div>
      </section>

      <section class="fr-accordion" *ngFor="let listPerDistance of keys(slots); let index = index">
        <div *ngIf="slots?.get(listPerDistance)?.length" class="fr-h3 fr-accordion__title fr-mt-1w">
          <button class="fr-accordion__btn fr-accordion-custom accordion-custom"
                  [attr.id]="'button-' + index" (click)="ani($event, index)"
                  aria-expanded="false" [attr.aria-controls]="'accordion-' + index">
            {{ StringToNumber(listPerDistance) - 5 }} à {{ listPerDistance }} km
          </button>
        </div>
        <div class="fr-custom-collapse" [attr.id]="'accordion-' + index" *ngIf="slots?.get(listPerDistance)">
          <div *ngIf="slots?.get(listPerDistance) && slots?.get(listPerDistance)?.length !== 0">
            <div
              class="fr-card fr-card--horizontal disable-pointer fr-m-1w "
              *ngFor="let slot of getTenSlots(slots?.get(listPerDistance)); let index = index"
            >
              <div [ngClass]="{'offlineMunicipality': slot?.hour }" class="div">

                <div class="fr-mb-3w fr-mt-3w fr-ml-2w rdv-display-flex">
                  <div *ngIf="slot.logo;else noLogo" class="max-width">
                    <img
                      class="mobile-logo-municipality fr-responsive-img"
                      [attr.src]="slot.logo"
                      alt=""
                      title="Logo de la ville de {{slot.municipality}}"
                      srcset=""
                      onerror="this.onerror=null; this.src='/assets/icon-bank-fill.png'; this.classList.add('default-logo')"
                    />
                  </div>
                  <ng-template #noLogo>
                    <div class="max-width">
                      <img
                        class="mobile-logo-municipality fr-responsive-img default-logo"
                        src="/assets/icon-bank-fill.png"
                        alt=""
                        title="Logo de la ville de {{slot.municipality}}"
                        srcset=""
                      />
                    </div>
                  </ng-template>

                  <div class="fr-mr-2w fr-ml-3w">
                    <div class="fr-mb-1w fr-text--bold name address">{{ slot?.municipality }}</div>
                    <div class="address">{{ slot?.publicEntryAddress }}, {{ slot?.zipCode }}</div>
                    <div *ngIf="localisedByTpe" class="fr-mt-1w fr-mb-1w distance-km address">
                      {{ slot?.distance?.toLocaleString()?.replace('.', ',') }} km de votre position
                    </div>
                    <div *ngIf="!localisedByTpe" class="fr-mt-1w fr-mb-1w distance-km address">
                      {{ slot?.distance?.toLocaleString()?.replace('.', ',') }} km de {{ formatAddress(searchCriteria?.address) }}
                    </div>
                    <div class="address">{{ toDate(slot.hour + ' ') | date: 'EEEE d MMMM YYYY' }}</div>
                  </div>
                </div>
                <div class="fr-mb-1w fr-ml-2w fr-mr-2w website">
                  <div *ngIf="slot?.url; else website"
                       (click)="setModalUrl(slot?.url)" data-fr-opened="false" aria-controls="fr-modal-2">
                    <button class="reserve enable-pointer" (click)="setModalUrl(slot?.url)">
                      Réserver à <b class="town-name">{{ __getLocaleTimeFormat__(slot?.hour) }}</b>
                    </button>
                  </div>
                  <ng-template #website>
                    <div data-fr-opened="false" aria-controls="fr-modal-2">
                      <button  class="reserve enable-pointer" target="_blank" (click)="setModalUrl2(slot.municipality, slot.website)">
                        Site internet
                      </button>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>

            <div *ngIf="getLength(slots?.get(listPerDistance)) > limiter" class="afficherPlus">
              <button class="fr-text--bold" (click)="onLoadMore()">
                Afficher plus de résultats
                <span class="fr-icon-arrow-down-s-line" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </ng-template>

</main>
