<div class="fr-container main-body">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col fr-col-md-11 fr-col-lg-10 fr-col-xl-11">
        <div class="fr-mt-0">
          <rdv-breadcrumb [items]="breadcrumbs" ></rdv-breadcrumb>
        </div>
      </div>
  
    </div>
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col fr-col-md-11 fr-col-lg-10 fr-col-xl-11">
        <h1 class="rdv-inline-block-display fr-h6 custom-margin rdv-justify" id="contenu">Plan du site</h1>
  
        <section class=""fr-py-6v>
            <article class="fr-mb-2w">
                <h2 class="fr-text--lg">Accueil</h2>
                <li class="fr-ml-1v">
                    <a class="fr-link" routerLink="/">Recherchez un rendez-vous</a>
                </li>
            </article>
            <article class="fr-mb-2w">
            <h2 class="fr-text--lg">Recherche ciblée</h2>
                <ul class="fr-ml-1v">
                    <li>
                        <a class="fr-link" routerLink="/departements">Départements - Rechercher des créneaux de rendez-vous par département</a>
                    </li>
                    <li>
                        <a class="fr-link" routerLink="/villes">Villes - Rechercher des créneaux de rendez-vous par ville</a>
                    </li>
                </ul>
            </article>
            <article class="fr-mb-2w">
                <h2 class="fr-text--lg">Retrouvez vos rendez-vous</h2>
                <ul class="fr-ml-1w">
                <li>
                    <a class="fr-link" routerLink="/predemande/NumeroPredemande">Retrouvez et gérez tous vos rendez-vous à partir de votre numéro de pré-demande</a>
                </li>
            </ul>
            </article>
            <article class="fr-mb-2w">
                <h2 class="fr-text--lg">En savoir plus</h2>
                    <ul class="fr-ml-1v">
                        <li>
                            <a class="fr-link" routerLink="/informations">Informations</a>
                        </li>
                        <li>
                            <a class="fr-link" routerLink="/rejoindre-la-demarche">Rejoindre la démarche</a>
                        </li>
                        <li>
                            <a class="fr-link" routerLink="/pre-demande-en-ligne">La pré-demande en ligne</a>
                        </li>
                        <li>
                            <a class="fr-link" routerLink="/deterritorialisation">La déterritorialisation</a>
                        </li>
                    </ul>
                </article>
                <article>
                    <h2 class="fr-text--lg">Informations</h2>
                        <ul class="fr-ml-1v">
                            <li>
                                <a class="fr-link" routerLink="/CGU-mentions-legales">CGU et mentions légales</a>
                            </li>
                            <li>
                                <a class="fr-link" routerLink="/donnees-personnelles">Données personnelles</a>
                            </li>
                            <li>
                                <a class="fr-link" routerLink="/accessibilite">Déclaration d'accessibilité</a>
                            </li>
                            <li>
                                <a class="fr-link" routerLink="/deterritorialisation">La déterritorialisation</a>
                            </li>
                        </ul>
                    </article>
        </section>
        
      </div>
    </div>
  </div>
  