<div *ngIf="getKeys()">
    <div *ngIf="isDesktop; else mobile">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col fr-col-md-11 fr-col-lg-10 fr-col-xl-11 rdv-justify">
            <h1 class="rdv-text-center fr-h6 fr-mt-5w">
                Réservez votre rendez-vous dans les communes du département {{department && department['code']}} - {{department && department['name']}}
            </h1>
            <div class="fr-mt-n2w rdv-justify">
                <a *ngFor="let municipality of getKeys(); let index = index" class="fr-link fr-fi-arrow-right-line fr-link--icon-left fr-mr-2w rdv-inline-display"  href="/ville/{{municipality.decoded_city_name}}">{{municipality.zip_code}} {{municipality.city_name}}</a>
            </div>
            <button *ngIf="this.cities && this.citiesRange < this.cities.length" title="Chercher plus de villes"
                (click)="loadMore($event)" class="fr-btn fr-btn--secondary fr-mt-2w search-more">
                Chercher plus de villes
            </button>
        </div>
      </div>
    </div>

    <ng-template #mobile>
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-grid-row fr-ml-2w fr-mr-2w fr-mt-2w">
                <h1 class="rdv-text-center fr-h6 fr-mt-5w">
                    Réservez votre rendez-vous dans les communes du département {{department && department['code']}} - {{department && department['name']}}
                </h1>
                <div class="fr-mt-n2w rdv-justify">
                    <a *ngFor="let municipality of getKeys(); let index = index" class="fr-link fr-fi-arrow-right-line fr-link--icon-left fr-mr-2w"  href="/ville/{{municipality.decoded_city_name}}">{{municipality.zip_code}} {{municipality.city_name}}</a>
                </div>
                <button *ngIf="this.cities && this.citiesRange < this.cities.length"
                (click)="loadMore($event)" class="fr-btn fr-btn--secondary rdv-center-align fr-mt-2w rdv-width100">
                 Chercher plus de villes
              </button>
            </div>
        </div>
    </ng-template>
  </div>

