<main role="main" id="contenu">
  <div class="fr-container main-body">
    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10">
        <rdv-breadcrumb [items]="breadcrumbs" ></rdv-breadcrumb>
      </div>
    </div>
      <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10">
        <div>
          <h1 class="rdv-text-center fr-h6 fr-mb-0">Rechercher des créneaux de rendez-vous par ville</h1>
          <p class="rdv-justify fr-mt-1w rdv-text-center">Trouver une ville raccordée au moteur de recherche depuis la liste suivante</p>
        </div>
      </div>
    </div>

    <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10">
        <ng-autocomplete
          #autocomplete2
          [data]="municipalities"
          [searchKeyword]="keyword"
          placeholder="Code postal, ville ou département"
          (selected)="selectEvent($event)"
          [itemTemplate]="itemTemplate"
          (inputChanged)="onChangeSearch($event)"
          [customFilter]="customFilter"
        >
        </ng-autocomplete>
        <ng-template #itemTemplate let-item >
          <ng-container *ngIf="item.city_name">
            <a class="transparent-background"
              *ngIf="item.zip_code.length === 9 || item.zip_code.length === 2; else elseBlock"
              (click)="onClick(item.zip_code)"
              [innerHTML]="item.zip_code + ' - ' + item.city_name"
              [routerLink]="'/ville/' + item.decoded_city_name"
              (keydown.enter)="onClick(item.zip_code)"
            >
            </a>
            <ng-template #elseBlock>
              <a class="transparent-background"  
              [routerLink]="'/ville/' + item.decoded_city_name" [innerHTML]="item.zip_code + ' - ' + item.city_name"
              (keydown.enter)="onClick(item.zip_code)"

              > </a>
            </ng-template>
          </ng-container>
        </ng-template>
      </div>
    </div>

    <div id="error" *ngIf="errorMessage" class="fr-grid-row fr-grid-row--center fr-grid-row--gutters fr-mt-2w" role="alert">
      <div *ngIf="errorMessage" class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10 fr-ml-2w fr-mr-2w">
        <div class="fr-alert fr-alert--error">
          <p>{{ errorMessage.description }}</p>
        </div>
      </div>
    </div>

    <div [attr.aria-busy]="isLoadingSearchResult" *ngIf="isLoadingSearchResult" class="container rdv-position-relative fr-mt-2w">
      <ngx-spinner color="var(--blue-france-main-525)" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"> </ngx-spinner>
    </div>
    <div *ngIf="results.keys()" class="fr-grid-row fr-grid-row--center fr-mt-5w">
      <div class="fr-col fr-col-md-10 fr-col-lg-10 fr-col-xl-10">
        <section  class="fr-accordion" *ngFor="let id of getKeys(); let index = index">
          <h3 class="fr-accordion__title">
            <button
              class="fr-accordion__btn fr-accordion__btn_custom"
              aria-expanded="false"
              [attr.id]="'accordion' + id"
              [attr.aria-controls]="'id' + index"
              title="Affiche les villes du département : {{DepartmentCodes.get(id)}}"
            >
              {{ id }} <ng-container *ngIf="toNumber(id)<=96"> - {{ DepartmentCodes.get(id) }} </ng-container>
              <div class="villeNumber">
                {{ '  (' + getLength(results.get(id)?.length) + ')' }}
              </div>
            </button>
          </h3>
          <div  class="fr-collapse" [attr.id]="'id' + index">
              <p  class="city" *ngFor="let municipality of results.get(id)?.slice(1)">
              <a class="rdv-remove-background"
                *ngIf="!municipality.zip_code || municipality.zip_code?.length !== 2"
                [routerLink]="'/ville/' + municipality.decoded_city_name"
                title="lien vers : {{municipality.city_name}}"
              >
                {{ municipality.zip_code }} - {{ municipality.city_name }}
            </a>
          </p>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
<div #ariaAutocompleteSelectedItem class="rdv-visually-hidden" aria-live="polite"></div>
